.token-info-container {
  width: 100%;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: row;
  gap: 5px;

  .token-info {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &.token-info-light {
      .token-title {
        color: black;
      }

      .token-price {
        color: black;
      }
    }

    .token-title {
      font-size: small;
      color: white;
    }

    .token-price {
      font-size: x-small;
      color: white;
    }
  }

  .token-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 3rem;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .token-info-balance {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 4px;

    .token-balance {
      font-size: small;
      color: green;
    }

    .usd-balance {
      font-size: x-small;
      color: white;
    }
  }
}