.portfolio-container {
  width: 100%;
  height: 100%;

  & .header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #252e3d;
    padding-bottom: .75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid #e0e0e0;

    & > div:first-child {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & div {
        width: auto;
        font-size: 12px;

        &.logout-container {
          & svg {
            width: 20px;
            height: 20px;
            color: red;

            &:hover {
              cursor: pointer;
              opacity: 0.9;
            }
          }
        }
      }

      & .scallop-icon {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;

        & img {
          width: 24px;
          height: 24px;
        }

        & span {
          font-size: 12px;
          font-weight: 600;
          color: white;
        }
      }
    }

    & .address {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 11px;
      position: absolute;
      width: calc(100% - 36px - 44px);
      top: 0px;
      height: 53.6px;

      & svg {
        width: 12px;
        height: 12px;
      }

      &:hover {
        cursor: pointer;
        color: white;
        opacity: 0.8;
      }

      & div {
        width: 100%;
        text-align: center;

        &.email {
          font-size: 10px;
        }
      }
    }
  }

  & .body {
    position: relative;
    top: 53.6px;
    max-height: calc(100% - 53.6px);
    overflow-y: auto;

    & .coin-list-manage {
      width: 100%;
      display: flex;
      justify-content: center;
      align-self: center;
      padding: 10px 14px 10px 10px;

      & button {
        width: 100%;
        height: 100%;
        border: 1px solid #9cd0dd;
        color: white;
        background-color: transparent;
        border-radius: 4px;
        padding: 8px;
        display: flex;
        justify-content: center;
        gap: 4px;
        align-items: center;

        & svg {
          width: 16px;
          height: 16px;
        }

        &:hover {
          cursor: pointer;
          background-color: #9cd0dd;
          color: black;
        }

        &:active {
          background-color: #8bc0cc;
          color: black;
        }
      }
    }

    & .coin-list {
      display: flex;
      flex-direction: column;
      height: 100%;

      & .no-coin {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;

        & span {
          color: white;
          font-size: 1.25rem;
          font-weight: 600;
          letter-spacing: 1.5px;
        }
      }
    }
  }
}