.managetoken-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: calc(100%);
  overflow-y: auto;
  background-color: transparent;

  & .managetoken-header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    padding: 12px 8px 8px 8px;

    & div:first-child {
      width: 16px;
      // height: 16px;
      color: white;

      & svg:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }

    & div:nth-child(2) {
      width: 100%;

      & input {
        width: 100%;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
        border:1px solid #9cd0dd;
        background-color: transparent;
        transition: all 0.2s ease-in-out;
        color: white;
        padding: 4px;

        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: white;
          opacity: 0.5;
        }
      }
    }

      & .form-dropdown-container {
        & button {
          width: 100%;
          height: 100%;
          border: 1px solid #9cd0dd;
          color: white;
          background-color: transparent;
          border-radius: 4px;
          padding: 4px;
          display: flex;
          justify-content: center;
          gap: 4px;
          align-items: center;
  
          & svg {
            width: 16px;
            height: 16px;
          }
  
          &:hover {
            cursor: pointer;
            background-color: #9cd0dd;
            color: black;
          }
  
          &:active {
            background-color: #8bc0cc;
            color: black;
          }
        }
        & .form-content {
          border: 1px solid white;
          position: absolute;
          right: 8px;
          top: 52px;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          width: 14.2rem;
          border-radius: 0.25rem;
          padding: 0.25rem;
          background: #262f3f;
          z-index: 10;

          & .form-content-grid {
            display: flex;
            flex-direction: column;
            width: 100%;
            font-size: 14px;
            justify-content: center;
            text-align: center;

            & input {
              width: 100%;
            }

            & button {
              margin-top: 4px;
              width: 100%;
              background-color: #9cd0dd;
              border: none;
              border-radius: 4px;
              color: black;

              &:hover {
                cursor: pointer;
                opacity: 0.9;
              }

              &:active {
                background-color: #8bc0cc;
                color: black;
              }

              &:disabled {
                background-color: #9cd0dd;
                color: black;
                opacity: 0.5;
              }
            }

            & .form-content-coin-type {
              border-top: 1px solid #D1D5DB;
              padding: 0.25rem 0.5rem; /* px-2 py-1 */

              & input {
                margin-bottom: 0.5rem;
              }

              & .coin-type-error {
                color: red;
                position: relative;
                top: -0.5rem;
                font-size: 12px;
                text-align: left;
                // margin-bottom: 0.5rem;
              }
            
              & .form-coin-type-title {
                width: 100%;
                font-size: 0.75rem; /* text-sm */
                color: #ffffff; /* text-white */
                text-align: left;
              }
            
              & .form-coin-type-select {
                margin-top: 0.25rem; /* mt-1 */
                width: 100%; /* w-full */
                border-radius: 0.25rem; /* rounded */
                background-color: #c6c8cc; /* bg-white */
                padding: 0.25rem; /* p-1 */
                font-size: 0.75rem; /* text-xs */
                border: none; /* border-none */
              }
            }
          }
        }
    }
  }

  & .managetoken-body {
    height: calc(100%);
    
    & .token-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-left: 8px;
      padding-right: 8px;
      gap: 8px;

      &:hover {
        background-color: rgba($color: #fff, $alpha: 0.1);
      }

      & .coinitem-container{
        &:hover {
          background-color: none !important;
          background: none !important;
          cursor: default !important;
        }

        padding-left: 0px;
        padding-right: 0px;
      }

      & svg.trash-bin {
        cursor: pointer;
        color: red;
        width: 22px;
        height: auto;
      }
    }
  }

  & .managetoken-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 8px;

    & button {
      width: 100%;
      border: none;
      border-radius: 14px;
      padding: 0.5em 1em;
      font-size: 12px;
      font-weight: 500;
      color: black;
      background-color: #9cd0dd;
      transition: all 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }

      &:active {
        background-color: #8bc0cc;
        color: black;
      }
    }
  }
}