@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  display: inline-block;
  animation: spin 1s linear infinite;
}

.login-btn-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  & button {
    cursor: pointer;
    width: 100%;
    padding: .75rem 1rem;
    border-radius: 0.75rem;
    border: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    &:active {
      opacity: 0.8;
    }

    &:hover {
      opacity: 0.98;
    }

    & .btn-label {
      font-size: .875rem;
      font-weight: 600;
      color: #1c1c1c;
    }

    & img {
      width: 22px;
      height: 22px;
    }
  }
}